body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.image-one, .image-two, .image-three, .image-four {
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-two, .image-three, .image-four {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
}

.image-one {
    background-image: url('../img/Phtot-one.png');
    height: 100vh;
    padding-top: 350px;
    padding-left: 100px;
    margin-bottom: 50px;
}

.image-two {
    background-image: url('../img/Photo-four.png');
    min-height: 300px;  
}

.image-three {
    background-image: url('../img/Photo-three.png');
    min-height: 300px;  
}

.image-four {
    background-image: url('../img/Photo-two.png');
    min-height: 300px;  
}

.list {
    padding-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.yellow-text {
    margin: 0px;
    color: orange;
}

.white-text {
    margin-bottom: 0px;
    color: white;
}

span {
    color: orange;
}

.section-one, .section-two, .section-three, .section-four {
    text-align: center;
    margin-bottom: 50px;
    padding: 0;
}

.its-hr { 
    margin-top: 50px;
    margin-bottom: 20px;
    height: 2px;
    width: 50px;
    background-color: orange;
    border: none;
}

.line {
    height: 2px;
    width: 320px;
    background-color: gainsboro;
    margin-left: 580px;
    margin-top: 90px;
}

.just-h2 {
    text-transform: uppercase;
}

.white-title {
    text-transform: uppercase;
    color: wheat;
}

.head-title {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
}

.head-paragraph {
    color: white;
}

.head-text {
    display: flex;
}

.we {
    font-size: 60px;
    color: orange;
    background-color: white;
    padding: 20px 10px;
}

.make {
    text-transform: uppercase;
    font-size: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 10px;
    border: 1px solid white;
}
